.container {
    width: 85%;
    height: 13vh;
    margin: auto;
    display: flex;
    justify-content: space-between;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}
.container p {
    width: 70%;
}

.containerTitle{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.title {
    width: 70%;
    color: rgba(0, 0, 0, 0.658);
}

.ageRange{
    font-size: 0.7rem;
    color: #45971c;
}



.btnCompleted{
    width: 23vh;
    height: 5vh;
    border-radius: 15px;
    background-color: #75B753;
    cursor: pointer;
    border: none;
    color: white;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: bolder;
}
.btnCompleted:hover {
    background-color: #45971c;
}

.btnNot {
    width: 20vh;
    height: 5vh;
    background-color: transparent;
    cursor: pointer;
    border: none;
    color: rgba(0, 0, 0, 0.644);
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: bolder;
    
}
.btnUncompleted {
    width: 20vh;
    height: 5vh;
    background-color: transparent;
    cursor: pointer;
    border: none;
    color: #45971c;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: bolder;
    
}

@media (max-width: 600px) {
    .container p{
        font-size: 0.8rem;
    }
    .btnCompleted{
        width: 19vh;
        font-size: 0.7rem;
    }
    .btnUncompleted{
        width: 17vh;
        font-size: 0.7rem;
    }
    .btnNot{
        width: 18vh;
        font-size: 0.7rem;
    }
   
}
@media(max-width: 450px){
    .container p{
        font-size: 0.7rem;
    }
}

@media(max-width: 650px) {
    .ageRange{
        display: none;
    }
}