.container {
    width: 80%;
    height: 15vh;
    margin: auto;
    display: flex;
    justify-content: space-between;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

.btn{
    width: 25vh;
    height: 5vh;
    border-radius: 15px;
    background-color: #75B753;
    cursor: pointer;
    border: none;
    color: white;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: bolder;
}
.btn:hover {
    background-color: #45971c;
}